<div class="container">
  <section id="profile">
     <p class="email"> Email: <%= @user.email %> </p>
     <p class="phone"> Phone Number: <%= @user.phone %> </p>
    <div class="update">
      <a id="update" href ="/users/<%= @user.id %>/edit"> Update Profile </a>
    </div>

    <div id="digest"> Todays's digest (plus links):

    <% @articles.each do |article| %>
      <div class="top-article"><a href='<%= article.url %>' class='title'><%= article.title %></a>
        <p class = "fine-text"><%= article.byline %> | <%= article.published_on %></p>
        <p class = "subtitle"><%= article.abstract %></p>
      </div>
    <% end %>
  </div>
    <div><a class="logout" href="/logout"> Log Out</a></div>
  </section>
</div>
