<div class="container">
  <section id="profile">
     Email: <%= @user.email %> <br/>
     Phone Number: <%= @user.phone %><br/>
    <a href ="/users/<%= @user.id %>/edit"> Update Profile </a>

    <div> SMS frequency: </div>

    <div id="digest"> Todays's digest (plus links): </div>

    <% @articles.each do |article| %>
      <div id="top-article"><a href='<%= article.url %>'><%= article.title %></a>
        <p class = "subtitle"><%= article.abstract %></p>
        <p class = "fine-text">By: <%= article.byline %> | <%= article.published_on %></p>
      </div>
    <% end %>

    <div><a class="logout" href="/logout"> Log Out</a></div>
  </section>
</div>
